body {
    background-color: #e0e0e0;
}

.a {
    text-decoration: none;
}
a:hover {
    color: red;
}

a:active {
    color: darkred;
}

#tribute {
    background-color: rgb(101, 143, 179, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#img-div {
    max-height: 600px;
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
}

.img {
    max-width: 400px;
    max-height: 500px;
    display: flex;
}

.img2 {
    max-width: 400px;
    max-height: 500px;
    display: flex;
}

.img3 {
    max-width: 400px;
    max-height: 500px;
    display: flex;
}

@media only screen and (max-width: 800px) {
    #img-div {
        max-width: 95%;
        max-height: 600px;
        display: flex;
        flex-direction: row;
    }

    .img {
        max-width: 150px;
        max-height: 200px;
        display: flex;
    }
    
    .img2 {
        max-width: 150px;
        max-height: 200px;
        display: flex;
    }
    
    .img3 {
        max-width: 150px;
        max-height: 200px;
        display: flex;
    }
}
/*
@media only screen and (max-width: 600px) {
    #img-div {
        max-width: 95%;
        max-height: 600px;
        display: flex;
        flex-direction: row;
    }

    .img {
        max-width: 100px;
        max-height: 200px;
        display: flex;
    }
    
    .img2 {
        max-width: 100px;
        max-height: 200px;
        display: flex;
    }
    
    .img3 {
        max-width: 100px;
        max-height: 200px;
        display: flex;
    }
}
*/
hr{
    width: 90%;
}

#timeline1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;
}

.info1 {
    max-width: 500px;
    display: flex;
    align-items: center;
    text-align: center;
}

.info-img1 {
    width: 300px;
    height: 350px;
    display: flex;
}

#timeline2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0 10px 0;
}

.info2 {
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.info-img2 {
    width: 500px;
    display: flex;
}

.info-img22 {
    width: 250px;
    display: flex;
}
