body {
    background-color: #e0e0e0;
}

.a {
    text-decoration: none;
}
a:hover {
    color: red;
}

a:active {
    color: darkred;
}

#tribute {
    background-color: rgb(101, 143, 179, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#img-div {
    max-width: 95%;
    max-height: 600px;
    display: flex;
    flex-direction: row;
}

.img {
    max-width: 100px;
    max-height: 200px;
    display: flex;
}

.img2 {
    max-width: 100px;
    max-height: 200px;
    display: flex;
}

.img3 {
    max-width: 100px;
    max-height: 200px;
    display: flex;
}

hr{
    width: 90%;
}

#youth-sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0 15px 0;
}

.youth-info {
    max-width: 90%;
    display: flex;
    text-align: center;
}

.youth-img {
    width: 250px;
    height: 280px;
    display: flex;
}

#bodybuilding-sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0 15px 0;
}

.bb-info {
    max-width: 90%;
    text-align: center;
    display: flex;
}

.bb-img {
    width: 250px;
    display: flex;
}

.bb-img2 {
    width: 120px;
    display: flex;
}

#acting-sec {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
}

.act-info {
    width: 90%;
    text-align: center;
    display: flex;
}

.movies-pic {
    height: 180px;
    display: flex;
}

.roles-pic {
    height: 200px;
    display: flex;
}